source: ros-galactic-nesfr-arm-description
Section: misc
Priority: optional
Maintainer: Jaeyoung Lee <jy@wom.ai>
Build-Depends:  debhelper-compat (= 12),
                ros-galactic-ament-cmake,
                ros-galactic-robot-state-publisher,
                ros-galactic-urdf,
                ros-galactic-xacro,
                ros-galactic-ros-workspace
Standards-Version: 4.5.0
Homepage:

Package: ros-galactic-nesfr-arm-description
Architecture: any
Multi-Arch: foreign
Depends:  ${misc:Depends},
          ${shlibs:Depends},
          ros-galactic-launch,
          ros-galactic-launch-ros,
          ros-galactic-robot-state-publisher,
          ros-galactic-urdf,
          ros-galactic-xacro,
          ros-galactic-ros-workspace
Description: ros2 application for NESFR_VR
